.calc-body {
    position: absolute;
    margin-left: 450px;
    margin-top: 20px;
    height: 570px;
    width: 390px;
    background-color: gray;
    border-style: solid;
    border-radius: 8px;
    border-color:black;
    box-shadow: 2px 2px;
}

.solution-area {
    position: relative;
    overflow: wrap;
    height: 80px;
    width: 370px;
    border: 2px solid black;
    border-radius: 3px;
    margin: 20px 10px 10px 10px;
    text-align: right;
    background-color: white;
}

#solution {
    font-size: 60px;
    padding-top: 20px;
    padding-right: 5px;
}

.button-area {
    display: inline-block;
    margin: 10px;
    height: 460px;
    width: 390px;
}

#clear {

    border: none;
    width: 166px;
    height: 56px;
    margin: 0px 10px 10px 10px;
    text-align: center;
    font-size: 20px;
    background-color:red;
}

#delete  {

    border: none;
    width: 166px;
    height: 56px;
    margin: 0px 10px 10px 10px;
    text-align: center;
    font-size: 20px;
    background-color: rgba(0, 0, 128, 0.411);
}


#num , #decimal {
    
    height: 70px;
    margin: 10px 15px 10px 10px;;
    width: 67px;
    font-weight: bold;
    font-size: 20px;
    background-color:white;
}

#add, #subtract, #multiply, #divide, #solve {

    height: 70px;
    margin: 10px 15px 10px 10px;;
    width: 67px;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(48, 47, 47, 0.253);

}